.message {
	position: absolute;
	top: 0;
	left: 50%;
}

.alert {
	padding: 1em;

	&.alert-info {
		background: orange;
		color: black;
	}

	&.alert-success {
		background: green;
		color: white;
	}
}
