<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title 'Tidy feedback'|trans %}</title>
    <link href="{{ path('tidy_feedback_asset', {asset: 'app.css'}) }}" rel="stylesheet">
</head>
<body>
{% block main %}
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
</body>
</html>
